In [1]:
import pandas as pd

In [101]:
# read tsv file
df = pd.read_csv('/mnt/c/Users/Phat Pham/Documents/THESIS/SRLPredictionEasel/pred_mlm_test_predictions_mlm_4.tsv', sep='\t')

In [102]:
df.head()

,prediction_pos_tag_id,label_pos_tag_id,prediction_id,origin_id
0,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 182 15012 1916 13736 13087 174 11...,[ 101 182 15012 1916 13736 13087 174 11...
1,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 2 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 2 -1 -1 -1 -1 ...,[ 101 1780 10473 1475 118 120 118 141...,[ 101 1780 10473 1475 118 120 118 141...
2,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 185 15342 7880 4649 6840 1104 1...,[ 101 185 15342 7880 4649 6840 1104 1...
3,[-1 -1 -1 -1 -1 -1 -1 1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 1191 1142 2462 1104 1476 13736 130...,[ 101 1191 1142 2462 1104 1476 13736 1...
4,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 1748 4982 117 5190 4789 1107 192...,[ 101 1748 4982 117 5190 4789 1107 192...

In [103]:
print(type(df['origin_id'][0]))

<class 'str'>

In [104]:
df.columns

Index(['prediction_pos_tag_id', 'label_pos_tag_id', 'prediction_id',
       'origin_id'],
      dtype='object')

In [105]:
import pandas as pd

# Define the function to convert the string representation to a list of integers
def convert_string_to_integers(data_string):
    # Remove the square brackets and split the string by spaces
    numbers = data_string.strip('[]').split()
    # Convert each string element to an integer
    numbers = [int(num) for num in numbers]
    return numbers

# Apply the function to the column
df['prediction_pos_tag_id'] = df['prediction_pos_tag_id'].apply(convert_string_to_integers)
df['label_pos_tag_id'] = df['label_pos_tag_id'].apply(convert_string_to_integers)
df['prediction_id'] = df['prediction_id'].apply(convert_string_to_integers)
df['origin_id'] = df['origin_id'].apply(convert_string_to_integers)

In [106]:
df.head()

,prediction_pos_tag_id,label_pos_tag_id,prediction_id,origin_id
0,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 182, 15012, 1916, 13736, 13087, 174, 116...","[101, 182, 15012, 1916, 13736, 13087, 174, 116..."
1,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 2, -1...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 2, -1...","[101, 1780, 10473, 1475, 118, 120, 118, 14105,...","[101, 1780, 10473, 1475, 118, 120, 118, 14105,..."
2,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 185, 15342, 7880, 4649, 6840, 1104, 185,...","[101, 185, 15342, 7880, 4649, 6840, 1104, 185,..."
3,"[-1, -1, -1, -1, -1, -1, -1, 1, -1, -1, -1, -1...","[-1, -1, -1, -1, -1, -1, -1, 1, -1, -1, -1, -1...","[101, 1191, 1142, 2462, 1104, 1476, 13736, 130...","[101, 1191, 1142, 2462, 1104, 1476, 13736, 103..."
4,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1748, 4982, 117, 5190, 4789, 1107, 19255...","[101, 1748, 4982, 117, 5190, 4789, 1107, 19255..."

In [107]:
# get masked index of origin_id where the value is 103
df['mask_index'] = df['origin_id'].apply(lambda x: [i for i, j in enumerate(x) if j == 103])

In [108]:
# count all values in the list of masked index
count = 0
for i in df['mask_index']:
    count += len(i)
print(count)

24263

In [113]:
# compare the value at masked index of prediction_id and label_pos_tag_id
# create a new bool column to store the result, if the value at masked index of prediction_id and label_pos_tag_id are the same, then True, otherwise False
df['prediction_at_mask_index'] = df.apply(lambda row: [row['prediction_pos_tag_id'][i] for i in row['mask_index']], axis=1)
df['label_at_mask_index'] = df.apply(lambda row: [row['label_pos_tag_id'][i] for i in row['mask_index']], axis=1)
df['correct'] = df.apply(lambda row: [row['prediction_pos_tag_id'][i] == row['label_pos_tag_id'][i] for i in row['mask_index']], axis=1)

In [122]:
df[16000:]

,prediction_pos_tag_id,label_pos_tag_id,prediction_id,origin_id,mask_index,prediction_at_mask_index,label_at_mask_index,correct
16000,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1103, 11267, 3476, 1104, 1296, 1104, 110...","[101, 1103, 11267, 3476, 1104, 1296, 1104, 110...",[32],[4],[2],[False]
16001,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1106, 4959, 1293, 2496, 12416, 5067, 122...","[101, 1106, 4959, 1293, 2496, 12416, 5067, 122...",[47],[2],[2],[True]
16002,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 3652, 1132, 1682, 1106, 1329, 25498, 637...","[101, 3652, 1132, 1682, 1106, 1329, 25498, 637...",[19],[3],[3],[True]
16003,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1292, 2686, 1730, 1366, 1106, 17581, 111...","[101, 1292, 2686, 1730, 1366, 1106, 17581, 111...",[15],[1],[1],[True]
16004,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1106, 9509, 176, 2050, 11970, 7865, 117,...","[101, 1106, 9509, 176, 2050, 11970, 7865, 117,...",[12],[1],[1],[True]
...,...,...,...,...,...,...,...,...
16731,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1412, 2166, 2527, 1215, 1107, 191, 2875,...","[101, 1412, 2166, 2527, 1215, 1107, 191, 2875,...",[29],[4],[4],[True]
16732,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1884, 4487, 2316, 11916, 5266, 1114, 185...","[101, 1884, 4487, 2316, 11916, 5266, 1114, 185...","[37, 38, 39]","[2, 2, 2]","[2, 2, 2]","[True, True, True]"
16733,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1678, 1487, 1292, 2233, 5996, 1115, 1103...","[101, 1678, 1487, 1292, 2233, 5996, 1115, 1103...",[41],[1],[1],[True]
16734,"[-1, -1, -1, 4, -1, -1, -1, -1, -1, -1, -1, -1...","[-1, -1, -1, 4, -1, -1, -1, -1, -1, -1, -1, -1...","[101, 1142, 117, 1649, 117, 1209, 19396, 1154,...","[101, 1142, 117, 103, 117, 1209, 19396, 1154, ...",[3],[4],[4],[True]
16735,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1126, 2509, 8310, 1114, 1103, 22090, 948...","[101, 1126, 2509, 8310, 1114, 1103, 22090, 948...",[46],[-1],[2],[False]

In [120]:
print(df['correct'].value_counts())

[True]                                          10407
[False]                                          2343
[True, True]                                      820
[False, False, False]                             746
[False, False]                                    590
                                                ...
[True, True, False, False, True]                    1
[True, False, False, False, True]                   1
[False, True, False, False, False, True]            1
[True, True, True, True, True, False, False]        1
[True, True, False, True]                           1
Name: correct, Length: 65, dtype: int64

In [116]:
# count all values in correct column = true
print(df['correct'].apply(lambda x: sum(x)).sum())

14574

In [117]:
print(df['correct'].apply(lambda x: sum(x)).sum()/len(df['correct'].apply(lambda x: sum(x))))

0.8708173996175909

In [118]:
# count all values in correct column = false
print(df['correct'].apply(lambda x: len(x) - sum(x)).sum())

9689