In [57]:
import pandas as pd

In [64]:
# read tsv file
df = pd.read_csv('/mnt/c/Users/Phat Pham/Documents/THESIS/SRLPredictionEasel/MLM/pred_mlm_test_predictions_mlm_4_epoch10.tsv', sep='\t')

In [65]:
df.head()

,prediction_pos_tag_id,label_pos_tag_id,prediction_id,origin_id,mask_id
0,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 4252 4199 1796 1142 2060 2079 11...,[ 101 4252 4199 1796 1142 2060 2079 11...,[ 101 4252 4199 1796 1142 2060 2079 11...
1,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 23609 119 122 1110 1146 1874 138...,[ 101 23609 119 122 1110 1146 1874 138...,[ 101 23609 119 122 1110 1146 1874 138...
2,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 1195 1437 1115 1103 3227 118 1...,[ 101 1195 1437 1115 1103 3227 118 1...,[ 101 1195 1437 1115 1103 3227 118 1...
3,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[ 101 1103 8310 1115 1103 174 5822 41...,[ 101 1103 8310 1115 1103 174 5822 41...,[ 101 1103 8310 1115 1103 174 5822 41...
4,[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 ...,[-1 -1 -1 -1 -1 -1 -1 2 2 -1 -1 -1 -1 -1 -1 ...,[ 101 1103 4592 1110 4379 1106 1129 12...,[ 101 1103 4592 1110 4379 1106 1129 1...,[ 101 1103 4592 1110 4379 1106 1129 1...

In [45]:
print(type(df['origin_id'][0]))

<class 'str'>

In [67]:
df.columns

Index(['prediction_pos_tag_id', 'label_pos_tag_id', 'prediction_id',
       'origin_id', 'mask_id'],
      dtype='object')

In [68]:
import pandas as pd

# Define the function to convert the string representation to a list of integers
def convert_string_to_integers(data_string):
    # Remove the square brackets and split the string by spaces
    numbers = data_string.strip('[]').split()
    # Convert each string element to an integer
    numbers = [int(num) for num in numbers]
    return numbers

# Apply the function to the column
df['prediction_pos_tag_id'] = df['prediction_pos_tag_id'].apply(convert_string_to_integers)
df['label_pos_tag_id'] = df['label_pos_tag_id'].apply(convert_string_to_integers)
df['prediction_id'] = df['prediction_id'].apply(convert_string_to_integers)
df['origin_id'] = df['origin_id'].apply(convert_string_to_integers)
df['mask_id'] = df['mask_id'].apply(convert_string_to_integers)

In [69]:
df.head()

,prediction_pos_tag_id,label_pos_tag_id,prediction_id,origin_id,mask_id
0,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 4252, 4199, 1796, 1142, 2060, 2079, 1138...","[101, 4252, 4199, 1796, 1142, 2060, 2079, 1138...","[101, 4252, 4199, 1796, 1142, 2060, 2079, 1138..."
1,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 23609, 119, 122, 1110, 1146, 1874, 13830...","[101, 23609, 119, 122, 1110, 1146, 1874, 13830...","[101, 23609, 119, 122, 1110, 1146, 1874, 13830..."
2,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1195, 1437, 1115, 1103, 3227, 118, 172, ...","[101, 1195, 1437, 1115, 1103, 3227, 118, 172, ...","[101, 1195, 1437, 1115, 1103, 3227, 118, 172, ..."
3,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[101, 1103, 8310, 1115, 1103, 174, 5822, 4184,...","[101, 1103, 8310, 1115, 1103, 174, 5822, 4184,...","[101, 1103, 8310, 1115, 1103, 174, 5822, 4184,..."
4,"[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -...","[-1, -1, -1, -1, -1, -1, -1, 2, 2, -1, -1, -1,...","[101, 1103, 4592, 1110, 4379, 1106, 1129, 1260...","[101, 1103, 4592, 1110, 4379, 1106, 1129, 189,...","[101, 1103, 4592, 1110, 4379, 1106, 1129, 103,..."

In [70]:
# get masked index of origin_id where the value is 103
df['mask_index'] = df['mask_id'].apply(lambda x: [i for i, j in enumerate(x) if j == 103])

In [71]:
# count all values in the list of masked index
count = 0
for i in df['mask_index']:
    count += len(i)
print(count)

24267

In [72]:
# compare the value at masked index of prediction_id and label_pos_tag_id
# create a new bool column to store the result, if the value at masked index of prediction_id and label_pos_tag_id are the same, then True, otherwise False
df['prediction_at_mask_index'] = df.apply(lambda row: [row['prediction_pos_tag_id'][i] for i in row['mask_index']], axis=1)
df['label_at_mask_index'] = df.apply(lambda row: [row['label_pos_tag_id'][i] for i in row['mask_index']], axis=1)
df['correct'] = df.apply(lambda row: [row['prediction_pos_tag_id'][i] == row['label_pos_tag_id'][i] for i in row['mask_index']], axis=1)

In [73]:
print(df['correct'].value_counts())

[True]                                                             10404
[False]                                                             2345
[True, True]                                                         819
[False, False, False]                                                748
[False, False]                                                       590
                                                                   ...
[True, True, False, False, True]                                       1
[True, True, False, True, True, False, True]                           1
[False, False, False, False, False, False, False, False, False]        1
[False, True, False, False, False]                                     1
[True, False, True, False]                                             1
Name: correct, Length: 65, dtype: int64

In [74]:
# count all values in correct column = true
print(df['correct'].apply(lambda x: sum(x)).sum())

14569

In [75]:
print(df['correct'].apply(lambda x: sum(x)).sum()/len(df['correct'].apply(lambda x: sum(x))))

0.8705186424474187

In [76]:
# count all values in correct column = false
print(df['correct'].apply(lambda x: len(x) - sum(x)).sum())

9698